   <div id="mynetwork"></div>

    <script type="text/javascript">
        // create an array with nodes
        var nodes = new vis.DataSet([
            {id: 1, label: 'snoop'}, 
            {id: 2, label: 'dre'}, 
            {id: 3, label: 'tech'}, 
            {id: 4, label: 'hopsin'}, 
            {id: 5, label: 'B.O.B'}, 
            {id: 6, label: 'Krizz Kaliko'},
            {id: 7, label: 'Eazy-E'},
            {id: 8, label: 'DMX'}
        ]);
        // create an array with edges
        var edges = new vis.DataSet([
            {from: 1, to: 7},
            {from: 7, to: 3},
            {from: 1, to: 2},
            {from: 3, to: 2},
            {from: 4, to: 2},
            {from: 5, to: 8},
            {from: 4, to: 8},
            {from: 5, to: 2},
            {from: 3, to: 6},
            {from: 2, to: 6},
            {from: 7, to: 2},
            {from: 8, to: 2},
            {from: 5, to: 6},
            {from: 1, to: 4}
        ]);
        
        // create a network

        var container = document.getElementById('mynetwork');

        // provide the data in the vis format

        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = {
            physics: {
                enabled: true,
                maxVelocity: 1,
                stabilization: {
                	enabled: true,
                	fit: true
                }
            }
        };

        // initialize your network!
        var network = new vis.Network(container, data, options);
    </script>