<section class="right">
  <section class="bubbleDisplay">
    <h1>The Visual</h1>
    <div id='network-popUp'>
        <span id="operation">node</span> <br>
        <table style='margin:auto;'>
            <tr>
                <td>Label</td>
                <td>
                    <input id='node-label' value='new value' />
                </td>
            </tr>
            <tr>
                <td>Duration</td>
                <td>
                    <select id='node-size'>
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="40">40</option>
                      <option value="50">50</option>  
                    </select>
                </td>
            </tr>
            <tr>
                <td>Importance</td>
                <td>
                    <select id='node-color'>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                </td>
            </tr>
        </table>
        <input type='button' value='save' id='saveButton' ng-click="update()"/>
        <input type='button' value='cancel' id='cancelButton' />
    </div>
    <br />
    <div id='mynetwork'></div>
  </section>
</section>
<section class="left">
  <table>
    <tr>
      <td>
        <button ng-click="listData.resetPanel()" ng-confirm-click="Are you sure?">Reset</button>
      </td>
      <td>
        <button ng-click="listData.togglePhysics()">Toggle Physics</button>
      </td>
    </tr>
  </table>
  {{listData.nodesList}}
</section>
